@font-face {
    font-family: 'Panton Bold';
    font-weight: regular;
    src: url('../fonts/Panton-Bold.woff') format('truetype');
}
@font-face {
    font-family: 'Panton Light';
    font-weight: regular;
    src: url('../fonts/Panton-Light.woff') format('truetype');
}
@font-face {
    font-family: 'Sidney';
    font-weight: regular;
    src: url('../fonts/Sidney.ttf') format('truetype');
}
